
/* landing page styles */
body {
    background: url("../../images/xylo-landing.jpg") center no-repeat fixed;
    background-size: cover;
    background-color: #0B0C10;
    background-blend-mode: overlay;
    height: 100%;
}

.landing-logo,
.about-header {
    font-size: 2rem;
    color: #C5C6C7;
}

.xylo {
    font-size: 10rem;
    color: #66FCF1;
}

.subtext {
    color: #C5C6C7;
}

.valign-wrapper {
    margin-top: 15%;
}

.btn {
    background-color: transparent;
    border: 1px solid #66FCF1;
}

.logout-btn {
    background-color: #0B0C10;
    color: #66FCF1;
    border: 1px solid #45A29E;
}

/* end landing page styles */

/* music component styles */

.music-container {
    width: 50%;
    margin: auto;
}

.list-item {
    padding: 2%;
    margin: 2%;
}

/* end music component styles */

/* show component styles */

.show-card {
    padding: 2%;
    margin-bottom: 5%;
    background-color: #0B0C10;
    color: #C5C6C7;
    border-radius: 25px;
    border: 3px solid #45A29E;
}

.show-display-name {
    color: #66FCF1;
}

/* end show component styles */

/* dashboard styles */

.dashboard-greeting,
.upcoming-shows-title {
    color: #C5C6C7;
}

/* end dashboard styles */

/* about styles */

.about-para {
    color: #C5C6C7;
}

/* end about styles */